body {
  background-color: black;
}

h1,h2,h3,h4,h5,h6 {
  color: white;
  text-align: left;
}

p,div {
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

strong {
  color: white
}

.title {
  color: white;
  padding: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item {
  color: lightgreen;
  padding: 1px;
  margin-bottom: 20px;
}

.element {
  background-color: grey;
  color: white;
  padding: 1px;
  margin-bottom: 10px;
}

.model {
  background-color: grey;
  color: lightgreen;
  padding: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.scamper {
  margin-top: '1rem';
  margin-right: '0.5rem';
  padding: '0.5rem 1rem';
  background-color: 'white';
  color: 'black';
  border: 'none';
  border-radius: '5px';
  cursor: 'pointer';
}